@model IEnumerable<TodoApp_MVC.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<div class="todo-container border border-danger">
    @if(Model.Count() > 0)
    {
        <div class="todo-wrapper border border-danger">
            <div class="todo-header">
                <h3 class="">TODO</h3>
                <a asp-area="" asp-controller="Todo" asp-action="Create" class="btn btn-primary">Create</a>
            </div>

            @foreach (var item in Model)
            {
                <div class="container todo-items border border-danger">
                    <div class="title-container">
                        <p class="todo-title border border-danger">@item.Title</p>
                    </div>

                    <div class="row row-button">
                        <a asp-area="" asp-controller="Todo" asp-action="Edit" asp-route-id="@item.Id" class="col btn-md btn-success btn-update">Update</a>
                        <a class="col btn-md btn-danger btn-delete">X</a>
                    </div>

                </div>
            }

        </div>
    }
    else{
        <p>No Todo List</p>   
    }

</div>